In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

#**Chapter-1**

**Print Function-**It is used to print anything on the screen.

In [ ]:
print('hello world')

hello world

In [ ]:
print("hello world")

hello world

**String-**Collection of character inside "(double quotes)" or '(single quotes)'.

**NOTE-**You can use single quotes inside double quotes.
        But you cannot use double quotes inside double quotes.

In [ ]:
print("'hello' world")

'hello' world

In [ ]:
print(""hello" world")

SyntaxError: ignored

You can use double quotes inside single quotes. But you cannot use single quotes inside single quotes.

In [ ]:
print('"hello" world')

"hello" world

In [ ]:
print(''hello' world')

SyntaxError: ignored

**Escape Sequences-**Escape sequences are some shortcut keywords which are used in our program.

1.   \\'->single quote
2.   \\\"->double quote


3.   \\\->backslash
4.   \\n->new line

5.   \\t->tab
6.   \\b->backspace

**Comments in Python-**It is used to give information to the user. The user writes it by his self for his help. They are not shown in the output.

**Syntax-**#(Your comment)  
**Shortcut-**Ctrl+/

**Raw Strings-**It convert escape sequences to normal text directly. It is a shortcut method for this conversation.                                                                                                                             
**Example-**print(r"line A \n line B")                
**Output-**line A \n line B

**Variable in Python-**Variables can store strings as well as values. Variable will not start with any number. It will always start with a letter or underscore. No characters are allowed to use in variable name.              
**Example-**n1=3                                                                                                                                                 
            print(n1)                                                 
**Output-**3

#**Chapter-2**

**String Concatenation-**Strings are the collection of characters inside single quotes or double quotes.

In [ ]:
first_name='Adarsh'
last_name='Jadon'
full_name=first_name+last_name
print(full_name)

AdarshJadon

In [ ]:
full_name=first_name+' '+last_name
print(full_name)

Adarsh Jadon

In [ ]:
print(first_name+'3')

Adarsh3

In [ ]:
print(first_name+str(3))

Adarsh3

In [ ]:
print(first_name*3)

AdarshAdarshAdarsh

**User input-**For taking user input, input() function is used.                                                                               
**Input function-**It is used to take the input from the user.                                                                                                                            
**NOTE-**The input() function will always take the input in the form of string.

In [ ]:
name=input('Type your name: ')
print('Hello '+name)
age=input('What is your age? ')
print('Your age is '+age)

Type your nameAdarsh
Hello Adarsh
What is your age?19
Your age is 19

**Int() function-**It is used to convert string into integer type.

**Without using int() function**

In [ ]:
number_one=input('Enter first number')
number_two=input('Enter second number')
total=number_one+number_two
print(total)

Enter first number4
Enter second number4
44

**With using int() function**

In [ ]:
number_one=int(input('Enter first number'))
number_two=int(input('Enter second number'))
total=number_one+number_two
print('Total is '+str(total))

Enter first number4
Enter second number4
Total is 8

**Float() function-**It is used o convert the type into float.

In [ ]:
number_one=int(input('Enter first number'))
number_two=float(input('Enter second number'))
total=number_one+number_two
print('Total is '+str(total))

Enter first number4
Enter second number7
Total is 11.0

**String Indexing:-**

In [ ]:
language='python'
print(language[4])

o

**String slicing-**[start arguement:stop arguement-1]

In [ ]:
lang='python'
print(lang[0:2])

py

In [ ]:
print(lang[:])

python

In [ ]:
print(lang[1:])

ython

In [ ]:
print(lang[:3])

pyt

**Step arguement-**[start arguement:stop argement-1:step]

In [ ]:
lang='python'
print(lang[0:5:2])

pto

In [ ]:
lang='python'
print(lang[:5:2])

pto

In [ ]:
print(lang[5: :-1])

nohtyp

In [ ]:
print(lang[-1: :-1])

nohtyp

In [ ]:
print(lang[::-1])

nohtyp

**len() function-**It counts the number of characters in a string. It also count the spaces.

In [ ]:
name='aDArSh jAdoN'
print(len('adarsh'))

6

In [ ]:
print(len(name))

12

In [ ]:
length=len(name)
print(length)

12

**lower() method-**It converts all the characters of the string into small alphabets.

In [ ]:
name='aDArSh jAdoN'
print(name.lower())

adarsh jadon

**upper() method-**It converts all the characters of the string into capital alphabets.

In [ ]:
name='aDArSh jAdoN'
print(name.upper())

ADARSH JADON

**title() method-**It converts the first character of the string into capital and remaining all into small alphabets.

In [ ]:
name='aDArSh jAdoN'
print(name.title())

Adarsh Jadon

**count() method-**It counts the number of times a letter coming into the string.

In [ ]:
name='aDArSh jAdoN'
print(name.count('a'))

1

In [ ]:
name='aDArSh jAdoN'
print(name.count('A'))

2

**Strip() method-**It is used to remove the space from the string.

In [ ]:
name='  Adarsh  '
dots='  ............. '
print(name+dots)

  Adarsh    .............

In [ ]:
print(name.lstrip()+dots)

Adarsh    .............

In [ ]:
print(name.rstrip()+dots)

  Adarsh  .............

In [ ]:
print(name.strip()+dots)

Adarsh.............

**Replace method-**It is sed to reolace one character with another character in a string.

In [ ]:
name='  Ada rsh '
dots='..............'
print(name.replace(' ',''))

Adarsh

In [ ]:
print(name.replace(' ','')+dots)

Adarsh..............

In [ ]:
string='she is a beautiful girl and she is a good dancer'
print(string.replace(' ','_'))

she_is_a_beautiful_girl_and_she_is_a_good_dancer

In [ ]:
print(string.replace('is','was'))

she was a beautiful girl and she was a good dancer

In [ ]:
print(string.replace('is','was',1))

she was a beautiful girl and she is a good dancer

**Find method-**It is used to find the position of a word or character in a string.

In [ ]:
string='she is a beautiful girl and she is a good dancer'
print(string.find('is'))

4

In [ ]:
string='is she is a beautiful girl and she is a good dancer'
print(string.find('is'))

0

In [ ]:
string='is she is a beautiful girl and she is a good dancer'
print(string.find('is',1))

7

In [ ]:
string='she is beautiful and she is a good dancer'
is_pos1=string.find('is')
is_pos2=string.find('is',is_pos1+1)
print(is_pos2)

25

**Center method-**It is used to align the character into the center.

In [ ]:
name='adarsh'
print(name.center(8,'*'))

*adarsh*

In [ ]:
print(name.center(10,'*'))

**adarsh**

In [ ]:
name=input('Enter your name ')
print(name.center(len(name)+8,'*'))

Enter your name Adarsh
****Adarsh****

**Strings are immutable-**It means that when we use any functions or methods to make some changes into the string, it does not make changes into the original string. It makes a copy of that string, apply functions and methods into it that we use and display it as our output. It will not make changes to the original string. One time string is defined, it cannot be changed.

In [ ]:
string='string'
print(string[1])

t

In [ ]:
string[1]='T'

TypeError: ignored

In [ ]:
string.replace('t','T')

'sTring'

In [ ]:
print(string.replace('t','T'))

sTring

#**Chapter - 3**

**If statement-**It is used to check the condition whether it is true or false.

In [ ]:
age=input('Enter your age')
age=int(age)
if age>=14:
  print('You are above 14')

Enter your age15
You are above 14

**If-else statement-**If the given condition in the if statement is false, then the statement in else is executed. Else statement is default statement.

In [ ]:
age=input('Enter your age')
age=int(age)
if age>=14:
  print('You are above 14')
else:
  print('You are not above 14')

Enter your age13
You are not above 14

**And/Or operators-**These operators are used to check two conditions at the same time.              
**Syntax:-**
if (condition 1) and (condition 2):
....            
if (condition 1) or (condition 2):
....

**NOTE-**In and operator, the whole condition is true when both the 2 conditions are true.      
In or operator, the whole condition is true when any one from the two onditions is true.

In [ ]:
name='abc'
age=19
if name=='abc' and age==19:
  print('condition true')
else:
  print('condition false')

condition true

In [ ]:
if name=='abc' and age==23:
  print('condition true')
else:
  print('condition false')

condition false

In [ ]:
if name=='abc' or age==19:
  print('condition true')
else:
  print('condition false')

condition true

In [ ]:
if name=='abc' and age==23:
  print('condition true')
else:
  print('condition false')

condition false

**Multiple if-else(elif) statement-**It is used to give multiple conditions and a default condition.

In [ ]:
age=input('Enter your age: ')
age=int(age)
if 0<age<3:
  print('Ticket price=free')
elif 3<age<10:
  print('Ticket price=150')
elif 10<age<=60:
  print('Ticket price=250')
else:
  print('Ticket price=200')

Enter your age: 19
Ticket price=250

**In keyword-**It is used to check that whether a particular character is present in a string or not.

In [ ]:
name='Adarsh'
if 'a' in name:
  print('a is present in name')
else:
  print('a is not present in name')

a is present in name

**Check empty or not-**It is used o check that whether the string is empty or not.

In [ ]:
name='abc'
if name:
  print('string is not empty')
else:
  print('string is empty')

string is not empty

In [ ]:
name=''
if name:
  print('string is not empty')
else:
  print('string is empty')

string is empty

**While loop:-**                 
while(condition):
....

In [ ]:
i=1
while i<=10:
  print('hello world')
  i=i+1

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
total=0
i=1
while i<=10:
  total=total+i
  i=i+1
print(total)

55

**NOTE-**True and False are boolean values.

**Range function-**We se range function in for loop. The range function starts from 0.

In [ ]:
for i in range(10):
  print('hello world')

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
for i in range(1,11):
  print('hello world')

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
total=0
for i in range(1,11):
  total=total+i
print(total)

55

In [ ]:
n=int(input('enter a number'))
total =0
for i in range(1,n+1):
  total=total+i
print(total)

enter a number10
55

In [ ]:
n=int(input('how mny numbers'))
total =0
for i in range(n):
  num=float(input('enter any number'))
  total = total+num
avg=total/n
print(avg)

how mny numbers5
enter any number4
enter any number5
enter any number3
enter any number2
enter any number1
3.0

In [ ]:
total=0
num=input('enter a number')
for i in range(0,len(num)):
  total=total+int(num[i])
print(total)

enter a number1111
4

In [ ]:
name=input('enter your name')
temp=''
for i in range(len(name)):
  if name[i] not in temp:
    print(f'{name[i]}:{name.count(name[i])}')
    temp=temp+name[i]

enter your nameAdarsh
A:1
d:1
a:1
r:1
s:1
h:1

**Break and Continue-**As their name suggests, break statement is used to break the loop for a condition and continue statement is used to continue the loop for a condition.

In [ ]:
for i in range(1,11):
  if i==5:
    break
  print(i)

1
2
3
4

In [ ]:
for i in range(1,11):
  if i==5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

**Step Arguement:-**

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(0,11,2):
  print(i)

0
2
4
6
8
10

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(1,-11,-1):
  print(i)

1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [ ]:
name='adarsh'
for i in name:
  print(i)

a
d
a
r
s
h

In [ ]:
for i in 'adarsh':
  print(i)

a
d
a
r
s
h

In [ ]:
num=input('enter a number')
total =0
for i in num:
  total=total+int(i)
print(total)

enter a number123
6

#**Chapter - 4**

**Functions-**Functions are used to write ome lines of code for defining it and using the function again and again, if we want, so that we do not have to write the same lines of code again and again. To define a function, def keyword is used.

In [ ]:
def add_two(a,b):
    return a+b
total=add_two(10,4)
print(total)

14

In [ ]:
def add_two(a,b):
    return a+b
num1=int(input('Enter first number'))
num2=int(input('Enter second number'))
total=add_two(num1,num2)
print(total)

Enter first number10
Enter second number4
14

In [ ]:
def add_two(num1,num2):
    return num1+num2
first_name=input('Type first name')
last_name=input('Type last name')
print(add_two(first_name,last_name))

Type first nameAdarsh
Type last nameJadon
AdarshJadon

**Print VS Return-**In a function, we can use both print and return. In print, the function prints the output on the scree and in return, the function returns the output on the screen.
In return, there is no need of parenthesis nut in print parenthesis are used.

In [ ]:
def add_two(a,b):
  return a+b
print(add_two(5,5))

10

In [ ]:
def add_two(a,b):
  print(a+b)
add_two(5,5)

10

In [ ]:
def last_char(name):
    return name[-1]
print(last_char('AJ'))

J

In [ ]:
def odd_even(num):
    if num%2==0:
        return 'even'
    else:
        return 'odd'
print(odd_even(9))

odd

In [ ]:
def is_even(num):
    if num%2==0:
        return True
    return False
print(is_even(9))

False

In [ ]:
def song():
    print('Happy birthday song')
print(song())

Happy birthday song
None

In [ ]:
def greater(a,b):
    if a>b:
        return a
    else:
        return b
def new_greatest(a,b,c) :
    bigger=greater(a,b)
    return greater(bigger,c)
print(new_greatest(10,20,30))

30

In [ ]:
for i in range(1,11):
    print(i,end='')

12345678910

In [ ]:
def fibonacci_seq(n):
    a=0
    b=1
    if n==1:
        print(a)
    elif n==2:
        print(a,b)
    else:
        print(a,b,end='')
        for i in range(n-2):
            c=a+b
            a=b
            b=c
            print(b,end='')
fibonacci_seq(10)

0 112358132134

**Default parameters-**Default parameters are always made at the last.

In [ ]:
def user_info(first_name,last_name='unknown',age=None):
  print(f'Your forst name is {first_name}')
  print(f'Your last name is {last_name}')
  print(f'Your age is {age}')
user_info('Adarsh')

Your forst name is Adarsh
Your last name is unknown
Your age is None

#**Chapter - 4**

**List-**List is a type f data structure. It is an ordered collection of items. We can store anything in lists like int, float or string.

In [ ]:
numbers=[1,2,3,4]
print(numbers)

[1, 2, 3, 4]

In [ ]:
words=['word1','word2','word3','word4']
print(words)

['word1', 'word2', 'word3', 'word4']

In [ ]:
mixed=[1,2,3,4,'word1','word2','word3','word4',2.3,None]
print(mixed)

[1, 2, 3, 4, 'word1', 'word2', 'word3', 'word4', 2.3, None]

In [ ]:
numbers=[1,2,3,4]
print(numbers[1])

2

In [ ]:
mixed[1:]='two'
print(mixed)

[1, 't', 'w', 'o']

In [ ]:
mixed[1:]=['three','four']
print(mixed)

[1, 'three', 'four']

**Addind data to list:-**

In [ ]:
fruits=['grapes','apple']
fruits.append('mango')
print(fruits)

['grapes', 'apple', 'mango']

In [ ]:
fruits=[]
fruits.append('grapes')
fruits.append('apple')
print(fruits)

['grapes', 'apple']

**Insert method-**This method adds any item at any position in the list.

In [ ]:
fruits=['mango','orange']
fruits.insert(1,'grapes')
print(fruits)

['mango', 'grapes', 'orange']

**Concatenating two lists:-**

In [ ]:
fruits1=['mango','orange']
fruits2=['grapes','apple']
fruits=fruits1+fruits2
print(fruits)

['mango', 'orange', 'grapes', 'apple']

**Extend method-**This method adds all the items of one list into another list.

In [ ]:
fruits1=['mango','orange']
fruits2=['grapes','apple']
fruits1.extend(fruits2)
print(fruits1)
print(fruits2)

['mango', 'orange', 'grapes', 'apple']
['grapes', 'apple']

**List inside list-**The append method adds whole one list into the another list.

In [ ]:
fruits1=['mango','apple']
fruits2=['grapes','orange']
fruits1.append(fruits2)
print(fruits1)

['mango', 'apple', ['grapes', 'orange']]

**Deleting data from list:-**

In [ ]:
fruits=['orange','apple','pear','bnana','kiwi']
fruits.pop()
print(fruits)

['orange', 'apple', 'pear', 'bnana']

In [ ]:
fruits=['orange','apple','pear','bnana','kiwi']
fruits.pop(1)
print(fruits)

['orange', 'pear', 'bnana', 'kiwi']

In [ ]:
fruits=['orange','apple','pear','bnana','kiwi']
del fruits[1]
print(fruits)

['orange', 'pear', 'bnana', 'kiwi']

In [ ]:
fruits=['orange','apple','pear','bnana','kiwi']
fruits.remove('bnana')
print(fruits)

['orange', 'apple', 'pear', 'kiwi']

In [ ]:
fruits=['orange','apple','pear','bnana','apple','kiwi']
fruits.remove('apple')
print(fruits)

['orange', 'pear', 'bnana', 'apple', 'kiwi']

**In keyword in ist:-**

In [ ]:
fruits=['orange','apple','pear','bnana','kiwi']
if 'apple' in fruits:
  print('apple is present')
else:
  print('apple is not present')

apple is present

**Some more list methods:-**

**Count:-**

In [ ]:
fruits=['orange','apple','pear','bnana','kiwi','apple','bnana']
fruits.count('apple')

2

**Sort:-**

In [ ]:
fruits=['orange','apple','pear','bnana','kiwi','apple','bnana']
fruits.sort()
print(fruits)

['apple', 'apple', 'bnana', 'bnana', 'kiwi', 'orange', 'pear']

**Sorted function:-**

In [ ]:
numbers=[3,5,1,9,10]
print(sorted(numbers))

[1, 3, 5, 9, 10]

**Clear:-**

In [ ]:
numbers=[3,5,1,9,10]
numbers.clear()
print(numbers)

[]

**Copy:-**

In [ ]:
numbers=[3,5,1,9,10]
x=numbers.copy()
print(x)

[3, 5, 1, 9, 10]

**Reverse:-**

In [ ]:
numbers=[3,5,1,9,10]
numbers.reverse()
print(numbers)

[10, 9, 1, 5, 3]

**Is VS Equals-**Is keyword checks that whether the two lists are at the same place in the memory or not.Equals keyword checks hat whether the values in the two lists are same or not.

In [ ]:
fruits1=['orange','apple','pear']
fruits3=['orange','apple','pear']
fruits2=['bnana','kiwi','apple','bnana']
print(fruits1==fruits2)
print(fruits1==fruits3)
print(fruits1 is fruits3)

False
True
False

**Join and split method-**Join method is used to convert list to string, while split method is ued to convert string to list.

In [ ]:
user_info='harshit  24'.split()
print(user_info)

['harshit', '24']

In [ ]:
user_info=['harshit','24']
print(','.join(user_info))

harshit,24

**Looping in list:-**

In [ ]:
fruits=['orange','apple','pear','bnana','kiwi']
for fruit in fruits:
  print(fruit)

orange
apple
pear
bnana
kiwi

In [ ]:
fruits=['orange','apple','pear','bnana','kiwi']
i=0
while i<len(fruits):
  print(fruits[i])
  i=i+1

orange
apple
pear
bnana
kiwi

**List inside list:-**

In [ ]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
print(matrix[2])

[7, 8, 9]

In [ ]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
for i in matrix:
  print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
for sublist in matrix:
  for i in sublist:
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
print(matrix[1][1])

5

In [ ]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
print(type(matrix))

<class 'list'>

**Generate lists with range functions:-**

In [ ]:
numbers=list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers.pop()
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**Index method:-**

In [ ]:
print(numbers.index(1))

0

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10,1,5,7,8,1]
print(numbers.index(1,11,14))

ValueError: ignored

**Pass list to a function:-**

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10]
def negative_list(l):
  negative=[]
  for i in l:
    negative.append(-i)
  return negative
print(negative_list(numbers))

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

**Min and max functions-**These functions are used to find the smallest and the greatest numbers in a list.

In [ ]:
numbers=[6,60,2]
print(min(numbers))
print(max(numbers))

2
60

In [ ]:
def greatest_diff(l):
  return max(l)-min(l)
print(greatest_diff(numbers))

58

#**Chapter - 6**

**Tuple-**Tuple is a data structure which can store any data type. The most important thing about tuples is that tuples are immutable,i.e., once tuple is created, we an't update it. In tuple, there is no data append, no insert, no pop, no remove.

**Methods used in tuples are-**


1.   count, index
2.   len function, slicing

In [ ]:
example=('one','two','three')
print(example[:2])

('one', 'two')

In [ ]:
example[0]=1
print(example)

TypeError: ignored

**Looping in tuples:-**

In [ ]:
mixed=(1,2,3,4.0)
for i in mixed:
  print(i)

1
2
3
4.0

**Tuple with one element-**We have to type comma after giving value into the tuple, if we are making tuple f one element, otherwise, the type will change into int or string.

In [ ]:
nums=(1)
print(type(nums))

<class 'int'>

In [ ]:
nums=(1,)
print(type(nums))

<class 'tuple'>

**Tuple without parenthesis-**If you give more than one strings in a variable, then by default it will become a tuple.

In [ ]:
guitars='yamaha','baton rogue','taylor'
print(type(guitars))

<class 'tuple'>

**Tuple unpacking-**In tuple unpacking, we have to take the number of variables which are equal to the number of elements in the list.

In [ ]:
guitarists=('Maneli Jamal','Eddie Van Der Meer','Andrew Foy')
guitarist1,guitarist2,guitarist3=(guitarists)
print(guitarist1)

Maneli Jamal

**List inside tuples:-**

In [ ]:
favorites=('southern mangolia',['Tokyo Ghoul Theme','Landscape'])
favorites[1].pop()
print(favorites)

('southern mangolia', ['Tokyo Ghoul Theme'])

In [ ]:
favorites[1].append('We made it')
print(favorites)

('southern mangolia', ['Tokyo Ghoul Theme', 'We made it'])

**Some functions in tuples:-**

**min()**

In [ ]:
mixed=(1,2,3,4.0)
print(min(mixed))

1

**max()**

In [ ]:
mixed=(1,2,3,4.0)
print(max(mixed))

4.0

**sum()**

In [ ]:
mixed=(1,2,3,4.0)
print(sum(mixed))

10.0

**Function returning two values:-**

In [ ]:
def func(int1,int2):
  add=int1+int2
  multiply=int1*int2
  return add,multiply
print(func(2,3))

(5, 6)

**More about tuple, list, str:-**

In [ ]:
nums=tuple(range(1,11))
print(nums)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
nums=list((range(1,11)))
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
nums=str((1,2,3,4,5,6,7,8,9,10))
print(nums)
print(type(nums))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'str'>

#**Chapter - 7**

**Dictionaries-**Dictionaries are unordered collection of data in key:value pair. We use dictionaries because f some limitations of lists, as lists are not enough to represent real data.

In [ ]:
user={'name':'Adarsh','Age':19}
print(user)
print(type(user))

{'name': 'Adarsh', 'Age': 24}
<class 'dict'>

In [ ]:
user=dict(name='Adarsh',Age=19)
print(user)

{'name': 'Adarsh', 'Age': 19}

**How to access data from dictionary-**There is no indexing in dictionary, as it is an unordered collection of data.

In [ ]:
user=dict(name='Adarsh',Age=19)
print(user['name'])

Adarsh

**NOTE-**We can store anything or any type of data in dictionary.

In [ ]:
user_info={
    'Name':'Adarsh',
    'Age':19,
    'fav_movies':['coco','avengers'],
    'fav_tunes':['awakening','fairy tale']
}
print(user_info['fav_movies'])

['coco', 'avengers']

**NOTE-**We can also add a dictionary into another dictionary.

**Add data in an empty dictionary:-**

In [ ]:
user_info2={}
user_info2['name']='mohit'
print(user_info2)

{'name': 'mohit'}

**In keyword and iterations in dictionary:-**

In [ ]:
user_info={
    'Name':'Adarsh',
    'Age':19,
    'fav_movies':['coco','avengers'],
    'fav_tunes':['awakening','fairy tale']
}

**Check if key exist in dictionary:-**

In [ ]:
if 'Name' in user_info:
  print('present')
else:
  print('not present')

present

**Check if value exist in dictionary:-**

In [ ]:
if 'Adarsh' in user_info.values():
  print('present')
else:
  print('not present')

present

In [ ]:
if 19 in user_info.values():
  print('present')
else:
  print('not present')

present

In [ ]:
if ['coco','avengers'] in user_info.values():
  print('present')
else:
  print('not present')

present

**Loops in dictionaries:-**

In [ ]:
for i in user_info:
  print(i)

Name
Age
fav_movies
fav_tunes

In [ ]:
for i in user_info.values():
  print(i)

Adarsh
19
['coco', 'avengers']
['awakening', 'fairy tale']

**Values method:-**

In [ ]:
user_info={
    'Name':'Adarsh',
    'Age':19,
    'fav_movies':['coco','avengers'],
    'fav_tunes':['awakening','fairy tale']
}
user_info_values=user_info.values()
print(user_info_values)
print(type(user_info_values))

dict_values(['Adarsh', 19, ['coco', 'avengers'], ['awakening', 'fairy tale']])
<class 'dict_values'>

**Keys method:-**

In [ ]:
user_info_keys=user_info.keys()
print(user_info_keys)
print(type(user_info_keys))

dict_keys(['Name', 'Age', 'fav_movies', 'fav_tunes'])
<class 'dict_keys'>

In [ ]:
for i in user_info:
  print(user_info[i])

Adarsh
19
['coco', 'avengers']
['awakening', 'fairy tale']

**Items method:-**

In [ ]:
user_items=user_info.items()
print(user_items)
print(type(user_items))

dict_items([('Name', 'Adarsh'), ('Age', 19), ('fav_movies', ['coco', 'avengers']), ('fav_tunes', ['awakening', 'fairy tale'])])
<class 'dict_items'>

In [ ]:
for key,value in user_info.items():
  print(f'key is {key} and value is {value}')

key is Name and value is Adarsh
key is Age and value is 19
key is fav_movies and value is ['coco', 'avengers']
key is fav_tunes and value is ['awakening', 'fairy tale']

**Add or delete data from dictionary:-**

In [ ]:
user_info={
    'Name':'Adarsh',
    'Age':19,
    'fav_movies':['coco','avengers'],
    'fav_tunes':['awakening','fairy tale']
}

**How to add data:-**

In [ ]:
user_info['fav_songs']=['song1','song2']
print(user_info)

{'Name': 'Adarsh', 'Age': 19, 'fav_movies': ['coco', 'avengers'], 'fav_tunes': ['awakening', 'fairy tale'], 'fav_songs': ['song1', 'song2']}

**Pop method:-**

In [ ]:
popped_item=user_info.pop('fav_tunes')
print(f'popped item is {popped_item}')
print(user_info)

popped item is ['awakening', 'fairy tale']
{'Name': 'Adarsh', 'Age': 19, 'fav_movies': ['coco', 'avengers'], 'fav_songs': ['song1', 'song2']}

**Popitem method-**If you do not pass any arguement in this method, it automatically pops any key:value pair.

In [ ]:
popped_item=user_info.popitem()
print(popped_item)
print(user_info)

('fav_songs', ['song1', 'song2'])
{'Name': 'Adarsh', 'Age': 19, 'fav_movies': ['coco', 'avengers']}

**update() method:-**

In [ ]:
user_info={
    'Name':'Adarsh',
    'Age':19,
    'fav_movies':['coco','avengers'],
    'fav_tunes':['awakening','fairy tale']
}
more_info={'State':'Madhya Pradesh','Hobbies':['Playing','Reading','Coding']}
user_info.update(more_info)
print(user_info)

{'Name': 'Adarsh', 'Age': 19, 'fav_movies': ['coco', 'avengers'], 'fav_tunes': ['awakening', 'fairy tale'], 'State': 'Madhya Pradesh', 'Hobbies': ['Playing', 'Reading', 'Coding']}

In [ ]:
more_info={'Name':'Krishna'}
user_info.update(more_info)
print(user_info)

{'Name': 'Krishna', 'Age': 19, 'fav_movies': ['coco', 'avengers'], 'fav_tunes': ['awakening', 'fairy tale'], 'State': 'Madhya Pradesh', 'Hobbies': ['Playing', 'Reading', 'Coding']}

In [ ]:
user_info.update({})
print(user_info)

{'Name': 'Krishna', 'Age': 19, 'fav_movies': ['coco', 'avengers'], 'fav_tunes': ['awakening', 'fairy tale'], 'State': 'Madhya Pradesh', 'Hobbies': ['Playing', 'Reading', 'Coding']}

**fromkeys method:-**

In [ ]:
d=dict.fromkeys(['name','Age','Height'],'unknown')
print(d)

{'name': 'unknown', 'Age': 'unknown', 'Height': 'unknown'}

In [ ]:
d=dict.fromkeys('abc','unknown')
print(d)

{'a': 'unknown', 'b': 'unknown', 'c': 'unknown'}

In [ ]:
d=dict.fromkeys(range(1,3),'umknown')
print(d)

{1: 'umknown', 2: 'umknown'}

In [ ]:
d=dict.fromkeys(range(1,3),'umknown')
print(d)

{1: 'umknown', 2: 'umknown'}

**get method:-**

In [ ]:
d={'Name':'unknown','Age':'unknown'}
print(d.get('Name'))

unknown

In [ ]:
print(d.get('Names'))

None

In [ ]:
if d.get('Name'):
    print('present')
else:
    print('not present')

present

**clear method:-**

In [ ]:
d.clear()
print(d)

{}

**copy method:-**

In [ ]:
d={'Name':'unknown','Age':'unknown'}
d1=d.copy()
print(d1)

{'Name': 'unknown', 'Age': 'unknown'}

In [ ]:
d1=d
print(d1.popitem())
print(d)

('Age', 'unknown')
{'Name': 'unknown'}

In [ ]:
d1=d.copy()
print(d1.popitem())
print(d)

('Name', 'unknown')
{'Name': 'unknown'}

In [ ]:
d1=d.copy()
print(d1 is d)
print(d1==d)

False
True

**More about get() method:-**

In [ ]:
user={'Name':'Adarsh','Age':19}
print(user.get('Names','Not Found'))

Not Found

**Two same keys in dictionaries:-**

In [ ]:
user={'Name':'Adarsh','Age':19,'Age':24}
print(user)

{'Name': 'Adarsh', 'Age': 24}

**Wordcounter dictionary:-**

In [ ]:
 def word_counter(s):
   count={}
   for char in s:
     count[char]=s.count(char)
   return count
print(word_counter('Adarsh'))

{'A': 1, 'd': 1, 'a': 1, 'r': 1, 's': 1, 'h': 1}

#**Chapter - 8**

**Set-**Set is a data type which is an unordered collection of umique items.

In [ ]:
s={1,2,3}
print(s)

{1, 2, 3}

**Creating a set:-**

In [ ]:
s={1,2,3,2}
print(s)

{1, 2, 3}

**NOTE-**There is no indexing in sets.

In [ ]:
s={1,2,3,2}
print(s[1])

TypeError: ignored

**NOTE-**Set is mainly used to remove the duplicate items.

set() function s also used to make a set.

In [ ]:
l={1,2,3,4,5,5,5,5,6,7,7,8,9}
s2=set(l)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s2=list(set(l))
print(s2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**Add any item in the set:-**

In [ ]:
s={1,2,3}
s.add(4)
print(s)

{1, 2, 3, 4}

**Remove any item in the set:-**

In [ ]:
s={1,2,3}
s.remove(3)
print(s)

{1, 2}

**NOTE-**If you ant to remove an item which is not in the set, there will be error in remove() method, but there will be no error in discard method.

In [ ]:
s={1,2,3}
s.discard(3)
print(s)

{1, 2}

**clear() method:-**

In [ ]:
s={1,2,3}
s.clear()
print(s)

set()

**Copy method:-**

In [ ]:
s={1,2,3}
s1=s.copy()
print(s1)

{1, 2, 3}

**NOTE-** We cannot store list, tuple and dictionary in a set.
We can store integer, floating point number and string in a set.

In [ ]:
s={1,1.0,2.3,'string'}
print(s)

{1, 2.3, 'string'}

**In keyword in set for loop:-**

In [ ]:
s={'a','b','c'}
if 'a' in s:
  print('present')
else:
  print('not present')

present

In [ ]:
for item in s:
  print(item)

b
a
c

**Set mathematics:-**

**Union-**For union of two ets, pipe keyword is used.

In [ ]:
s1={1,2,3,4}
s2={3,4,5,6}
union_set=s1|s2
print(union_set)

{1, 2, 3, 4, 5, 6}

**Intersection-**For intersection of two sets, and(&) keyword is used.

In [ ]:
s1={1,2,3,4}
s2={3,4,5,6}
intersection=s1&s2
print(intersection)

{3, 4}

#**Chapter - 9**

**Creating a list of squares from 1 to 3:-**

**1. With list comprehension:-**

In [ ]:
squares=[]
for i in range(1,4):
  squares.append(i**2)
print(squares)

[1, 4, 9]

**2. Without list comprehension:-**

In [ ]:
square=[i**2 for i in range(1,4)]
print(square)

[1, 4, 9]

**Creating a list of negative numbers:-**

In [ ]:
negative=[]
for i in range(1,4):
  negative.append(-i)
print(negative)

[-1, -2, -3]

In [ ]:
negative=[-i for i in range(1,4)]
print(negative)

[-1, -2, -3]

In [ ]:
names=['Adarsh','Krishna','Romeo']
new_list=[]
for name in names:
  new_list.append(name[0])
print(new_list)

['A', 'K', 'R']

In [ ]:
names=['Adarsh','Krishna','Romeo']
new_list=[name[0] for name in names]
print(new_list)

['A', 'K', 'R']

**List comprehension with if statement:-**

In [ ]:
numbers=list(range(1,11))
nums=[]
for i in numbers:
  if i%2==0:
    nums.append(i)
print(nums)

[2, 4, 6, 8, 10]

In [ ]:
even_nums=[i for i in range(1,11) if i%2==0]
print(even_nums)

[2, 4, 6, 8, 10]

In [ ]:
odd_nums=[i for i in range(1,11) if i%2!=0]
print(odd_nums)

[1, 3, 5, 7, 9]

**List comprehension with if-else statement:-**

In [ ]:
nums=[1,2,3,4,5,6,7,8,9,10]
new_list=[]
for i in nums:
  if i%2==0:
    new_list.append(i*2)
  else:
    new_list.append(-i)
print(new_list)

[-1, 4, -3, 8, -5, 12, -7, 16, -9, 20]

In [ ]:
nums=[1,2,3,4,5,6,7,8,9,10]
new_list=[i*2 if(i%2==0) else -i for i in nums]
print(new_list)

[-1, 4, -3, 8, -5, 12, -7, 16, -9, 20]

**Nested list comprehension:-**

In [ ]:
nested_comp=[[i for i in range(1,4)] for j in range(3)]
print(nested_comp)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

#**Chapter - 10**

**Dictionary comprehension:-**

In [ ]:
square={num:num**2 for num in range(1,4)}
print(square)

{1: 1, 2: 4, 3: 9}

In [ ]:
square={f'Square of {num} is':num**2 for num in range(1,4) }
print(square)

{'Square of 1 is': 1, 'Square of 2 is': 4, 'Square of 3 is': 9}

In [ ]:
string='Adarsh'
word_count={char:string.count(char) for char in string}
print(word_count)

{'A': 1, 'd': 1, 'a': 1, 'r': 1, 's': 1, 'h': 1}

**Dictionay comprehension with if else:-**

In [ ]:
odd_even={i:('even' if i%2==0 else 'odd') for i in range(1,11)}
print(odd_even)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even'}

**Sets comprehension:-**

In [ ]:
s={k**2 for k in range(1,11)}
print(s)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [ ]:
names=['Adarsh','Krishna','Shiva']
first={name[0] for name in names}
print(first)

{'S', 'A', 'K'}

**NOTE-**Sets have no order of output. They can changetheir order of index as many times as the code runs.

#**Chapter - 11**

**Intro to *args:-**

In [ ]:
def total(a,b):
  return a+b
print(total(3,4,10,9))

TypeError: ignored

This problem is solved by the * operator.

In [ ]:
 def all_total(*args):
   total=0
   for num in  args:
     total+=num
   return(total)
print(all_total(1,5,7,9))

22

***args with normal parameter:-**

In [ ]:
def multiply_nums(*args):
  multiply=1
  for i in args:
    multiply*=i
  return(multiply)
print(multiply_nums(2,3,4))

24

In [ ]:
def multiply_nums(num,*args):
  multiply=1
  print(num)
  print(args)
  for i in args:
    multiply*=i
  return multiply
print(multiply_nums(2,2,3))

2
(2, 3)
6

In [ ]:
def multiply(*args):
  multiply=1
  print(args)
  for i in args:
    multiply*=i
  return multiply
print(multiply_nums(2,2,3))

2
(2, 3)
6

In [ ]:
def multiply_nums(*args):
  multiply=1
  print(args)
  for i in args:
    multiply*=1
  return multiply
print(multiply_nums())

()
1

In [ ]:
def multiply_nums(num,*args):
  multiply=1
  print(num)
  print(args)
  for i in args:
    multiply*=i
  return multiply
print(multiply_nums())

TypeError: ignored

***args as arguement:-**

In [ ]:
def multiply_nums(*args):
  multiply=1
  print(args)
  for i in args:
    multiply*=i
  return multiply
num=[2,3,4]
print(multiply_nums(num))

([2, 3, 4],)
[2, 3, 4]

**With * as arguement:-**

In [ ]:
def multiply_nums(*args):
  multiply=1
  print(args)
  for i in args:
    multiply*=i
  return multiply
num=[2,3,4]
print(multiply_nums(*num))

(2, 3, 4)
24

****kwargs(double star operator)-**It is a keyword arguement which gathers all the inputs given by the user and gives a dictionary of them as output.

In [ ]:
def func(**kwargs):
  print(kwargs)
func(first_name='Adarsh',last_name='Jadon')

{'first_name': 'Adarsh', 'last_name': 'Jadon'}

**kwargs as a parameter:-**

In [ ]:
def func(**kwargs):
  for k,v in kwargs.items():
    print(f'{k}:{v}')
func(first_name='Adarsh',last_name='Jadon')

first_name:Adarsh
last_name:Jadon

**Dictionary unpacking:-**

In [ ]:
func('Krishna',first_name='Adarsh',last_name='Jadon')

TypeError: ignored

In [ ]:
def func(**kwargs):
  for k,v in kwargs.items():
    print(f'{k}:{v}')
d={'name':'Adarsh','age':19}
func(d)

TypeError: ignored

In [ ]:
func(**d)

name:Adarsh
age:19

**Functions with all parameters:-**

In [ ]:
def func(name='unknown',age=19):
  print(name)
  print(age)
func()

unknown
19

In [ ]:
func('Adarsh')

Adarsh
19

**System of passing all parameters in a function:-**

*   parameters
*   *args

*   default parameters
*   **kwargs

In [ ]:
def func(name,*args,last_name='unknown',**kwargs):
  print(name)
  print(args)
  print(last_name)
  print(kwargs)
func('Adarsh',1,2,3,a=1,b=2)

Adarsh
(1, 2, 3)
unknown
{'a': 1, 'b': 2}

#**Chapter - 12**

**Lambda expression-**It is an anonymous function. It is so called as it has no name. It is defined in one line which has no name.

In [ ]:
add=lambda a,b:a+b
print(add(3,2))

5

We use lambda expressions with built-in functions like-map, reduce, filter

In [ ]:
multiply=lambda a,b:a*b
print(multiply(2,3))

6

In [ ]:
def is_even(a):
  if a%2==0:
    return True
  else:
    return False
print(is_even(4))

True

**With lambda expression:-**

In [ ]:
is_even=lambda a:a%2==0
print(is_even(6))

True

In [ ]:
def add(a,b):
  return a+b

In [ ]:
last_char=lambda s:s[-1]
print(last_char('adarsh'))

h

**Lambda with if-else:-**

In [ ]:
def func(s):
  if len(s)>5:
    return True
  return False
print(func('abc'))

False

In [ ]:
func=lambda s:True if len(s)>5 else False
print(func('abc'))

False

#**Chapter - 13**

**Enumerate() function-**Enumerate function is used with for loop. It is used when we have to search the position of an item in a list/tuple.

In [ ]:
names=['abc','abcdef','adarsh']
pos=0
for name in names:
  print(f'{pos}:{name}')
  pos+=1

0:abc
1:abcdef
2:adarsh

**With enumerate function:-**

In [ ]:
names=['abc','abcdef','adarsh']
for pos,name in enumerate(names):
  print(f'{pos}:{name}')

0:abc
1:abcdef
2:adarsh

**Map() function:-**

In [ ]:
numbers=[1,2,3,4]
def square(a):
  return a**2
squares=list(map(square,numbers))
print(squares)

[1, 4, 9, 16]

In [ ]:
numbers=[1,2,3,4]
squares=list(map(lambda a:a**2,numbers))
print(squares)

[1, 4, 9, 16]

**With list comprehension:-**

In [ ]:
numbers=[1,2,3,4]
squares_new=[i**2 for i in numbers]
print(squares_new)

[1, 4, 9, 16]

In [ ]:
numbers=[1,2,3,4]
new_list=[]
for num in numbers:
  new_list.append(square(num))
print(new_list)

[1, 4, 9, 16]

**To find the length of string:-**

In [ ]:
names=['abc','abcd','abcde']
length=map(len,names)
for i in length:
  print(i)

3
4
5

**Filter() function:-**

In [ ]:
def is_even(a):
  return a%2==0
numbers=[3,4,2,1,5,6,9,8,10]
evens=tuple(filter(is_even,numbers))
print(evens)

(4, 2, 6, 8, 10)

**With lambda expression:-**

In [ ]:
numbers=[3,4,2,1,5,6,9,8,10]
evens=tuple(filter(lambda a:a%2==0,numbers))
print(evens)

(4, 2, 6, 8, 10)

In [ ]:
for i in evens:
  print(i)

4
2
6
8
10

In [ ]:
new_evens=(i for i in numbers if i%2==0)
print(list(evens))
print(new_evens)

[4, 2, 6, 8, 10]
<generator object <genexpr> at 0x7f1c4fc87678>

**Iterator VS iterable:-**

In [ ]:
numbers=[1,2,3,4]
number_iter=iter(numbers)
print(next(number_iter))

1

In [ ]:
number_iter=iter(numbers)
print(next(number_iter))
print(next(number_iter))

1
2

In [ ]:
number_iter=iter(numbers)
print(next(number_iter))
print(next(number_iter))
print(next(number_iter))

1
2
3

In [ ]:
number_iter=iter(numbers)
print(next(number_iter))
print(next(number_iter))
print(next(number_iter))
print(next(number_iter))

1
2
3
4

In [ ]:
print(iter(numbers))

<list_iterator object at 0x7f1c4fc7c588>

**Zip() function-**It is used to combine two lists or tuples. It returns a list of combined tuples.

In [ ]:
user_id=['user1','user2','user3']
names=['Adarsh','Krishna','Romeo']
print(list(zip(user_id,names)))

[('user1', 'Adarsh'), ('user2', 'Krishna'), ('user3', 'Romeo')]

In [ ]:
user_id=['user1','user2']
names=['Adarsh','Krishna','Romeo']
print(list(zip(user_id,names)))

[('user1', 'Adarsh'), ('user2', 'Krishna')]

In [ ]:
user_id=['user1','user2']
names=['Adarsh','Krishna','Romeo']
last_names=['Jadon','Jadon','Squad']
print(list(zip(user_id,names,last_names)))

[('user1', 'Adarsh', 'Jadon'), ('user2', 'Krishna', 'Jadon')]

**NOTE-**You can change list of tuples to dictionaries.

In [ ]:
example=[('a',1),('b',2)]
print(dict(example))

{'a': 1, 'b': 2}

*** operator with zip function:-**

In [ ]:
l=[(1,2),(3,4),(5,6),(7,8)]
print(list(zip(*l)))

[(1, 3, 5, 7), (2, 4, 6, 8)]

In [ ]:
l=[(1,2),(3,4),(5,6),(7,8)]
l1,l2=list(zip(*l))
print(l1)
print(l2)

(1, 3, 5, 7)
(2, 4, 6, 8)

In [ ]:
l=[(1,2),(3,4),(5,6),(7,8)]
l1,l2=list(zip(*l))
print(list(l1))
print(list(l2))

[1, 3, 5, 7]
[2, 4, 6, 8]

**Finding maximum values from tuples in zip() function:-**

In [ ]:
l1=[1,3,5,7]
l2=[2,4,6,8]
new_list=[]
for pair in zip(l1,l2):
  new_list.append(max(pair))
print(new_list)

[2, 4, 6, 8]

**Any and all function:-**

In [ ]:
n1=[2,4,6,8,10]
n2=[1,2,3,4,5,6]
evens1=[]
for num in n1:
  evens1.append(num%2==0)
print(evens1)

[True, True, True, True, True]

In [ ]:
n1=[2,4,6,8,10]
n2=[1,2,3,4,5,6]
print(all([num%2==0 for num in n1]))

True

In [ ]:
n1=[2,4,6,8,10]
n2=[1,2,3,4,5,6]
print(all([num%2==0 for num in n2]))

False

In [ ]:
print(any([num%2==0 for num in n2]))

True

In [ ]:
def my_sum(*args):
  total=0
  for num in args:
    total+=num
  return total
print(my_sum(1,2,3,4,'adarsh',['adarsh']))

TypeError: ignored

In [ ]:
def my_sum(*args):
  if all([(type(arg)==int or type(arg)==float) for arg in args]):
    total=0
    for num in args:
      total+=num
    return total
  else:
    return 'Wrong Input'
print(my_sum(1,2,3,4,'adarsh',['adarsh']))

Wrong Input

In [ ]:
print(my_sum(1,2,3,4))

10

**Advance min() and max() functions:-**

In [ ]:
def func(item):
  return len(item)
names=['adarsh','krishna','romeo']
print(max(names,key=func))

krishna

In [ ]:
print(max(names, key=lambda item:len(item)))

krishna

In [ ]:
students=[
          {'name':'adarsh','score':90,'age':20},
          {'name':'krishna','score':70,'age':18},
          {'name':'romeo','score':60,'age':26}
]
print(max(students,key=lambda item:item.get('score')))

{'name': 'adarsh', 'score': 90, 'age': 20}

In [ ]:
students2={
    'adarsh':{'score':90,'age':20},
    'krishna':{'score':70,'age':18},
    'romeo':{'score':60,'age':26}
}
print(max(students2,key=lambda item:students2[item]['score']))

adarsh

**Advance sorted() function:-**

In [ ]:
fruits=['grapes','mango','apple']
fruits.sort()
print(fruits)

['apple', 'grapes', 'mango']

**NOTE-**Sort() function is not available in tuples.

In [ ]:
fruits2=('grapes','mango','apple')
fruits2.sort()
print(fruits2)

AttributeError: ignored

In [ ]:
fruits2=('grapes','mango','apple')
sorted(fruits2)
print(fruits2)

('grapes', 'mango', 'apple')

In [ ]:
fruits2=('grapes','mango','apple')
print(sorted(fruits2))

['apple', 'grapes', 'mango']

In [ ]:
guitars=[
         {'model':'yamaha f310','price':8400},
         {'model':'faith naptune','price':50000},
         {'model':'faith apollo venus','price':35000},
         {'model':'taylor 814ce','price':450000}
]
print(sorted(guitars,key=lambda d:d['price']))

[{'model': 'yamaha f310', 'price': 8400}, {'model': 'faith apollo venus', 'price': 35000}, {'model': 'faith naptune', 'price': 50000}, {'model': 'taylor 814ce', 'price': 450000}]

In [ ]:
print(sorted(guitars,key=lambda d:d['price'],reverse=True))

[{'model': 'taylor 814ce', 'price': 450000}, {'model': 'faith naptune', 'price': 50000}, {'model': 'faith apollo venus', 'price': 35000}, {'model': 'yamaha f310', 'price': 8400}]

In [ ]:
sorted_guitars=sorted(guitars,key=lambda d:d['price'],reverse=True)
print(sorted_guitars)

[{'model': 'taylor 814ce', 'price': 450000}, {'model': 'faith naptune', 'price': 50000}, {'model': 'faith apollo venus', 'price': 35000}, {'model': 'yamaha f310', 'price': 8400}]

**Doc strings-**Doc strings are triple single quotes(''' ''') or triple double quotes(""" """). We use this to give the user a message.

In [ ]:
def add(a,b):
  return a+b
print(add.__doc__)

None

**NOTE-**We can see the doc string of built-in functions like len, sum, ax, min, sorted etc.

**Help function:-**

In [7]:
print(help(sum))

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

None

**NOTE-**help() function is used to take help or detail about built-in functions. If we do not know more about any built-in function, then this help() function can be used.

#**Chapter - 14**

**First class function/closures:-**

In [10]:
def square(a):
  return a**2
s=square(7)
print(s)

49

In [11]:
s=square
print(s(7))

49

In [12]:
print(s.__name__)
print(square.__name__)

square
square

**Pass function as arguement:-**

In [ ]:
def square(a):
  return a**2
l=[1,2,3,4]
print(list(map(square,l)))

[1, 4, 9, 16]

In [ ]:
def square(a):
  return a**2
l=[1,2,3,4]
def my_map(func,l):
  new_list=[]
  for item in l:
    new_list.append(func(item))
  return new_list
print(my_map(square,l))

[1, 4, 9, 16]

In [ ]:
l=[1,2,3,4]
def my_map(func,l):
  new_list=[]
  for item in l:
    new_list.append(func(item))
  return new_list
print(my_map(lambda a:a**3,l))

[1, 8, 27, 64]

**Function returning function:-**

In [ ]:
def outer_func():
  def inner_func():
    print('inside inner func')
  return inner_func
var=outer_func()
var()

inside inner func

In [ ]:
def outer_func():
  def inner_func():
    print('inside inner func')
  return inner_func()
var=outer_func()

inside inner func

In [ ]:
def outer_func2(msg):
  def inner_func2():
    print(f'{msg}')
  return inner_func2
var=outer_func2('adarsh')
var()

adarsh

**Closures practice:-**

In [ ]:
def to_power(x):
  def calc_power(n):
    return n**x
  return calc_power
cube=to_power(3)
print(cube(5))

125

**Decorators-**They enhance the functionality of all other functions.

In [ ]:
def decorator_function(any_function):
  def wrapper_function():
    print('This is awesome function')
    any_function()
  return wrapper_function

In [ ]:
def func1():
  print('This is function 1')
def func2():
  print('This is functio 2')
var=decorator_function(func1)
var()

This is awesome function
This is function 1

In [ ]:
func2=decorator_function(func2)
func2()

This is awesome function
This is functio 2

In [ ]:
def decorator_function(any_function):
  def wrapper_function():
    print('This is awesome function')
    any_function
  return wrapper_function
@decorator_function
def func1():
  print('This is function 1')
func1()

This is awesome function

In [ ]:
def decorator_function(any_function):
  def wrapper_function():
    print('This is awesome function')
    any_function
  return wrapper_function
@decorator_function
def func(a):
  print(f'this is function with arguement{a}')
func(7)

TypeError: ignored

In [ ]:
def decorator_function(any_function):
  def wrapper_function(*args,**kwargs):
    print('This is awesome function')
    any_function(*args,**kwargs)
  return wrapper_function
@decorator_function
def func(a):
  print(f'this is function with arguement {a}')
func(7)

This is awesome function
this is function with arguement 7

In [ ]:
def decorator_function(any_function):
  def wrapper_function(*args,**kwargs):
    print('This is awesome function')
    any_function(*args,**kwargs)
  return wrapper_function
@decorator_function
def func(a):
  print(f'this is function with arguement {a}')
func(5)
@decorator_function
def add(a,b):
  return a+b
print(add(2,3))

This is awesome function
this is function with arguement 5
This is awesome function
None

**Decorators with arguements:-**

In [ ]:
from functools import wraps
def decorator_function(any_function):
  @wraps(any_function)
  def wrapper_function(*args,**kwargs):
    print('This is awesome function')
    return any_function(*args,**kwargs)
  return wrapper_function
@decorator_function
def add(a,b):
  '''this is add function'''
  return a+b
print(add.__doc__)
print(add.__name__)

this is add function
add

#**Chapter - 15**

**Generators-**Generators are iterative. We can make a generator by using-

*   generator function
*   generator comprehension

In [ ]:
def nums(n):
  for i in range(1,n+1):
    yield(i)
for number in nums(10):
  print(number)

1
2
3
4
5
6
7
8
9
10

**Generator comprehension:-**

In [ ]:
square=(i**2 for i in range(1,11))
for num in square:
  print(num)

1
4
9
16
25
36
49
64
81
100

#**Chapter - 16**

**Object Oriented Programming(OOP)-**OOP is just a style to write a code. It is very helpful in creating real world problems.

**Creating Class:-**

In [ ]:
class Person:
  def __init__(self,first_name,last_name,age):
    self.first_name=first_name
    self.last_name=last_name
    self.age=age
p1=Person('Adarsh','Jadon',19)
p2=Person('Krishna','Jadon',24)
print(p1.first_name)
print(p2.last_name)

Adarsh
Jadon

**Instance methods:-**

In [ ]:
class Person:
  def __init__(self,first_name,last_name,age):
    self.first_name=first_name
    self.last_name=last_name
    self.age=age
  def full_name(self):
    return f'{self.first_name}{self.last_name}'
p1=Person('Adarsh','Jadon',19)
p2=Person('Krishna','Jadon',24)
print(p2.full_name())  
print(Person.full_name(p2))

KrishnaJadon
KrishnaJadon

**Class variable-**The class variable is shared with every object in the class.

In [ ]:
class Circle:
  pi=3.14
  def __init__(self,radius):
    self.radius=radius
  def calc_circumference(self):
    return 2*Circle.pi*self.radius
c=Circle(4)
c1=Circle(5)
print(c.calc_circumference())

25.12

In [ ]:
class Laptop:
  discount_percent=10
  def __init__(self,brand,name,price):
    self.brand=brand
    self.name=name
    self.price=price
    self.laptop_name=brand + '' + name
  def apply_descount(self):
    off_price=(Laptop.discount_percent/100)*self.price
    return self.price-off_price
Laptop.discount_percent=0
laptop1=Laptop('hp','aull4tx',63000)
print(laptop1.apply_descount())
print(laptop1.__dict__)

63000.0
{'brand': 'hp', 'name': 'aull4tx', 'price': 63000, 'laptop_name': 'hpaull4tx'}

In [ ]:
class Laptop:
  discount_percent=10
  def __init__(self,brand,name,price):
    self.brand=brand
    self.name=name
    self.price=price
    self.laptop_name=brand + '' + name
  def apply_descount(self):
    off_price=(self.discount_percent/100)*self.price
    return self.price-off_price
laptop1=Laptop('hp','aull4tx',63000)
laptop1.discount_percent=50
print(laptop1.__dict__)
print(laptop1.apply_descount())

{'brand': 'hp', 'name': 'aull4tx', 'price': 63000, 'laptop_name': 'hpaull4tx', 'discount_percent': 50}
31500.0

**Class methods:-**

In [ ]:
class Person:
  count_instance=0
  def __init__(self,first_name,last_name,age):
    Person.count_instance+=1
    self.first_name=first_name
    self.last_name=last_name
    self.age=age
  @classmethod
  def count_instances(cls):
    return f'You have created{cls.count_instance} instance of {cls.__name__} class'
  def full_name(self):
    return f'{self.first_name} {self.last_name}'
  def is_above_18(self):
    return self.age>18
p1=Person('Adarsh','Jadon',19)
p2=Person('Krishna','Jadon',10)
print(Person.count_instances())

You have created2 instance of Person class

**Class method as a constructor:-**

In [ ]:
class Person:
  count_instance=0
  def __init__(self,first_name,last_name,age):
    Person.count_instance+=1
    self.first_name=first_name
    self.last_name=last_name
    self.age=age
  @classmethod
  def from_string(cls,string):
    first,last,age=string.split(',')
    return cls(first,last,age)
  @classmethod
  def count_instances(cls):
    return f'You have created {cls.count_instance} instances of {cls.__name__} class'
  def full_name(self):
    return f'{self.first_name} {self.last_name}'
  def is_above_18(self):
    return self.age>18
p1=Person('Adarsh','Jadon',19)
p2=Person('Krishna','Jadon',10)
p3=Person.from_string('Romeo,Nene,18')
print(p3.full_name())

Romeo Nene

**Static method:-**

In [ ]:
class Person:
  count_instance=0
  def __init__(self,first_name,last_name,age):
    Person.count_instance+=1
    self.first_name=first_name
    self.last_name=last_name
    self.age=age
  @classmethod
  def from_string(cls,string):
    first,last,age=string.split(',')
    return cls(first,last,age)
  @classmethod
  def count_instances(cls):
    return f'You have created {cls.count_instance} instances of {cls.__name__} class'
  @staticmethod
  def hello():
    print('hello,static method called')
  def full_name(self):
    return f'{self.first_name} {self.last_name}'
  def is_above_18(self):
    return self.age>18
p1=Person('Adarsh','Jadon',19)
p2=Person.from_string('Romeo,Nene,18')
Person.hello()

hello,static method called

**Encapsulation, Abstraction, Naming, Conventions, Name Mangling:-**

In [ ]:
class Phone:
  def __init__(self,brand,model_name,price):
    self.brand=brand
    self.model_name=model_name
    self.__price=price
  def make_a_call(self,phone_number):
    print(f'calling {phone_number}....')
  def full_name(self):
    return f'{self.brand} {self.model_name}'
  def send_message(self):
    pass #twilio
phone1=Phone('nokia','1100',1000)
print(phone1.__dict__)

{'brand': 'nokia', 'model_name': '1100', '_Phone__price': 1000}

**Property, setter decorator:-**

In [ ]:
class Phone:
  def __init__(self,brand,model_name,price):
    self.brand=brand
    self.model_name=model_name
    self._price=max(price,0)
  @property
  def complete_specification(self):
    return f'{self.brand} {self.model_name} and price is {self._price}'
  @property
  def price(self):
        return self._price
  @price.setter
  def price(self,new_price):
        self._price=max(new_price,0)        
  def make_a_call(self,phone_number):
    print(f'calling {phone_number}....')
  def full_name(self):
    return f'{self.brand} {self.model_name}'
  def send_message(self):
    pass #twilio
phone1=Phone('nokia','1100',1000)
phone1.price=-500
print(phone1._price)
print(phone1.complete_specification)

0
nokia 1100 and price is 0

**Inheritance:-**

In [ ]:
class Phone:
  def __init__(self,brand,model_name,price):
    self.brand=brand
    self.model_name=model_name
    self._price=max(price,0)
  def full_name(self):
    return f'{self.brand} {self.model_name}'
  def make_a_call(self,number):
    return f'calling {number}...'
class Smartphone(Phone):
  def __init__(self,brand,model_name,price,ram,internal_memory,rear_camera):
    Phone.__init__(self,brand,model_name,price)
    self.ram=ram
    self.internal_memory=internal_memory
    self.rear_camera=rear_camera
phone=Phone('nokia','1100',1000)
smartphone=Smartphone('oneplus','5',30000,'6 GB','64GB','20MP')
print(phone.full_name())
print(smartphone.full_name() + f'and price is {smartphone._price}')

nokia 1100
oneplus 5and price is 30000

**Multilevel inheritance:-**

In [ ]:
class Phone:
  def __init__(self,brand,model_name,price):
    self.brand=brand
    self.model_name=model_name
    self._price=max(price,0)
  def full_name(self):
    return f'{self.brand} {self.model_name}'
  def make_a_call(self,number):
    return f'calling {number}...'
class Smartphone(Phone):
  def __init__(self,brand,model_name,price,ram,internal_memory,rear_camera):
    Phone.__init__(self,brand,model_name,price)
    self.ram=ram
    self.internal_memory=internal_memory
    self.rear_camera=rear_camera
class FlagshipPhone(Smartphone):
  def __init__(self,brand,model_name,price,ram,internal_memory,rear_camera,front_camera):
    super().__init__(brand,model_name,price,ram,internal_memory,rear_camera)
    self.front_camera=front_camera
smartphone=Smartphone('oneplus','5',30000,'6 GB','64GB','20MP')
oneplus=FlagshipPhone('oneplus','5',30000,'6 GB','64GB','20MP','16MP')
print(oneplus.full_name())

oneplus 5

**Method Overriding:-**

In [ ]:
class Phone:
  def __init__(self,brand,model_name,price):
    self.brand=brand
    self.model_name=model_name
    self._price=max(price,0)
  def full_name(self):
    return f'{self.brand} {self.model_name}'
  def make_a_call(self,number):
    return f'calling {number}...'
class Smartphone(Phone):
  def __init__(self,brand,model_name,price,ram,internal_memory,rear_camera):
    Phone.__init__(self,brand,model_name,price)
    self.ram=ram
    self.internal_memory=internal_memory
    self.rear_camera=rear_camera
class FlagshipPhone(Smartphone):
  def __init__(self,brand,model_name,price,ram,internal_memory,rear_camera,front_camera):
    super().__init__(brand,model_name,price,ram,internal_memory,rear_camera)
    self.front_camera=front_camera
  def full_name(self):
    return f'{self.brand} {self.model_name} and price is {self._price} and front camera={self.front_camera}'
smartphone=Smartphone('oneplus','5',30000,'6 GB','64GB','20MP')
oneplus=FlagshipPhone('oneplus','5',30000,'6 GB','64GB','20MP','16MP')
print(oneplus.full_name())

oneplus 5 and price is 30000 and front camera=16MP

**isinstance function-**It tells that whether the object is in the given class or not.

In [ ]:
print(isinstance(smartphone,Smartphone))

True

In [ ]:
print(isinstance(smartphone,Phone))

True

In [ ]:
print(isinstance(smartphone,FlagshipPhone))

False

**issubclass() function-**It checks out that a class is nheriting another class or not.

In [ ]:
print(issubclass(Smartphone,Phone))

True

In [ ]:
print(issubclass(Smartphone,FlagshipPhone))

False

In [ ]:
class A:
  def class_a_method(self):
    return 'I\'m just class A method'
  def hello(self):
    return 'hello from class A'
class B:
  def class_b_method(self):
    return 'I\'m just class A method'
  def hello(self):
    return 'hello from class B'
class C(A,B):
  pass
instance_c=C()
print(instance_c.class_a_method())
print(instance_c.class_b_method())

I'm just class A method
I'm just class A method

In [ ]:
print(instance_c.hello())

hello from class A

In [ ]:
class C(B,A):
  pass
instance_c=C()
print(instance_c.hello())

hello from class B

**Dunder methods:-**

In [ ]:
class Phone:
  def __init__(self,brand,model,price):
    self.brand=brand
    self.model=model
    self.price=price
  def phone_name(self):
    return f'{self.brand} {self.model}'
  def __str__(self):
    return f'{self.brand} {self.model} and price is {self.price}'
  def __repr__(self):
    return f'phone (\'{self.brand}\',\'{self.model}\',{self.price})'
my_phone=Phone('nokia','1100',1000)
print(str(my_phone))
print(my_phone.__repr__())

nokia 1100 and price is 1000
phone ('nokia','1100',1000)
10

In [14]:
class Phone:
  def __init__(self,brand,model,price):
    self.brand=brand
    self.model=model
    self.price=price
  def phone_name(self):
    return f'{self.brand} {self.model}'
  def __len__(self):
    return len(self.phone_name())
my_phone=Phone('nokia','1100',1000)
print(len(my_phone))

10

**Operator overloading:-**

In [19]:
class Phone:
  def __init__(self,brand,model,price):
    self.brand=brand
    self.model=model
    self.price=price
  def phone_name(self):
    return f'{self.brand} {self.model}'
  def __len__(self):
    return len(self.phone_name())
  def __add__(self,other):
    return self.price + other.price
my_phone=Phone('nokia','1100',1000)
my_phone2=Phone('nokia','1600',1200)
print(my_phone + my_phone2)

2200

In [ ]:
class Phone:
  def __init__(self,brand,model,price):
    self.brand=brand
    self.model=model
    self.price=price
  def phone_name(self):
    return f'{self.brand} {self.model}'
  def __add__(self,other):
    return self.price + other.price
my_phone=Phone('nokia','1100',1000)
my_phone2=Phone('nokia','1600',1200)
print(my_phone + my_phone2)

2200

**Polymorphism-**A thing having many forms.

In [ ]:
2+3

5

In [ ]:
'abc' + 'def'

'abcdef'

#**Chapter - 17**

**Built-in errors-**

*   Syntax error
*   Indentation error

*   Name error
*   Type error

*   Index error
*   Value error

*   Attribute error
*   Key error

**Raise errors:-**

In [ ]:
def add(a,b):
  if (type(a) is int) and (type(b) is int):
    return a+b
  return 'OOPs you are passing wrong data type to function'
print(add('2','3'))

OOPs you are passing wrong data type to function

In [ ]:
def add(a,b):
  if (type(a) is int) and (type(b) is int):
    return a+b
  raise TypeError('OOPs you are passing wrong data type to function')
print(add('2','3'))

TypeError: ignored

In [ ]:
class Animal:
  def __init__(self,name):
    self.name=name
  def sound(self):
    raise NotImplementedError('You have to define this method in subclasses')
class Dog(Animal):
  def __init__(self,name,breed):
    super().__init__(name)
    self.breed=breed
  def sound(self):
    return 'bhow bhow'
class Cat(Animal):
  def __init__(self,name,breed):
    super().__init__(name)
    self.breed=breed
  def sound(self):
    return 'meao meao'
doggy=Dog('boony','pug')
print(doggy.sound())

bhow bhow

In [ ]:
class Mobile:
  def __init__(self,name):
    self.name=name
class MobileStore:
  def __init__(self):
    self.mobiles=[]
  def add_mobile(self,new_mobile):
    if isinstance(new_mobile,Mobile):
      self.mobiles.append(new_mobile)
    else:
      raise TypeError('new mobile should be object of Mobile class')
oneplus=Mobile('oneplus 6')
samsung='samsung galaxy s8'
mobostore=MobileStore()
mobostore.add_mobile(oneplus)
mobo_phones=mobostore.mobiles
print(mobo_phones[0].name)

oneplus 6

**Exception Handling:-**

In [ ]:
while True:
  try:
    age=int(input('enter your age: '))
    break
  except ValueError:
    print('invalid input')
  except:
    print('unexpected error')
  if age<18:
    print('You can\'t play this game')
  else:
    print('You can play this game')

In [ ]:
while True:
  try:
    number=int(input('enter a number'))
  except ValueError:
    print('invalid input')
  except:
    print('unexcepted error')
  else:
    print(f'user input={number}')
    break
  finally:
    print('finally blocks')

enter a numbereighteen
invalid input
finally blocks
enter a number18
user input=18
finally blocks

**custom exception-**It is us3ed to increase the readibility of code.

In [ ]:
class NameTooShortError(ValueError):
  pass
def validate(name):
  if len(name)<8:
    raise NameTooShortError('name is too short')
username=input('enter your name')
validate(username)
print(f'hello {username}')

enter your nameadarsh jadon
hello adarsh jadon

**Debugging-**Debugging is the process of finding and resolving defects or problems within a computer program that prevent correct operation of computer software or a system.

**For importing python debugger, we use-**                                                                                                                                                                                      
import pdb                                   
**l-**command for which line of code has paused             
**n-**command to continue the code              
**q-**command to quit the program                
**c-**command to run the code continously

In [ ]:
import pdb
pdb.set_trace()
name=input('enter your name:')
age=input('enter your age:')
print(f'hello {name} and your age is {age}')
age2=age+5
print(f'{name} you will be {age2} in next five years')

--Return--
> <ipython-input-13-a0fb4a47ddb0>(2)<module>()->None
-> pdb.set_trace()